/* Cascading Style Sheets für Applet-Seiten */
/* Letzte Änderung: 2015-07-20              */

* {
  margin: 0;                                     /* Vorgaben für Außenabstand löschen */
  padding: 0;                                    /* Vorgaben für Innenabstand löschen */
  }
  
h1, h2, h3, p, ol, ul {
  margin: 10px 20px 10px 20px;                   /* Außenabstand */
  }
  
li {
  margin-left: 30px;                             /* Außenabstand links */
  }

body {                                           /* Gesamte Seite */
  background-color: white;                       /* Hintergrund weiß */
  font-family: Arial, Helvetica, sans-serif;     /* Serifenlose Schrift */
  font-size: 16px;                               /* Schrifthöhe */
  font-weight: normal;                           /* Schrift normal */
  }

h1 {                                             /* Überschrift 1. Ordnung */
  background-color: yellow;                      /* Hintergrund gelb */
  border: 8px solid blue;                        /* Rand */
  padding: 5px;                                  /* Innenabstand */
  text-align: center;                            /* Text zentriert */
  font-size: 24px;                               /* Schrifthöhe */
  font-weight: bold;                             /* Fettdruck */
  }

p {                                              /* Absatz */
  line-height: 1.3;                              /* Zeilenabstand */
  }

p.Formel {                                  /* Absatz für Größen einer Formel */
  font-family:"Courier New",Courier;        /* Zeichensatz Courier */
  font-size:10pt;                           /* Schrifthöhe 10 pt */
  font-weight:normal;                       /* Schrift normal */
  }
 
*.Ende {                                    /* Absatz für URL usw. */
  font-family:Arial,Helvetica,sans-serif;   /* Serifenlose Schrift */
  font-size:10pt;                           /* Schrifthöhe 10 pt */
  font-weight:normal;                       /* Schrift normal */
  }

ul {                                        /* Ungeordnete Liste */
  line-height: 1.4;                         /* Zeilenabstand */
  }

ol {                                        /* Geordnete Liste */
  font-family:Arial,Helvetica,sans-serif;   /* Serifenlose Schrift */
  font-size:12pt;                           /* Schrifthöhe 12 pt */
  font-weight:normal;                       /* Schrift normal */
  }
  
div.Abstand {                               /* Vertikaler Zwischenraum */
  height:10pt;                              /* Höhe 10 pt */
  }

a:link {                                    /* Link (noch nicht besucht) */
  color:blue;                               /* Farbe blau */
  }

a:visited {                                 /* Link (schon besucht) */
  color:blue;                               /* Farbe blau */
  }

a:hover {                                   /* Mauszeiger über dem Link */
  color:#ff0000;                            /* Farbe rot */
  text-decoration:underline;                /* Text unterstrichen */
  }
  
a.prg {                                     /* Link für Programmstart */
  background-color:#ffff00;
  border-style:solid;                       /* Rand durchgezogen */
  border-width:3pt;                         /* Randbreite 3 pt */
  border-color:#ff0000;                     /* Randfarbe rot */
  padding:10pt;                             /* Innenabstand 10 pt */
  font-family:Arial,Helvetica,sans-serif;   /* Serifenlose Schrift */
  font-size:14pt;                           /* Schrifthöhe 14 pt */
  font-weight:bold;                         /* Fettdruck */
  }

/* Tabellen */

table.Def {                                 /* Tabelle für Definitionen */
  background-color:#00ff7f;                 /* Hintergrund hellgrün */
  border-style:double;                      /* Rand doppelt */
  border-width:6pt;                         /* Randbreite 6 pt */
  border-color:black;                       /* Randfarbe schwarz */
  }

td.Def {                                    /* Tabellenzelle für Definitionen */
  background-color:#00ff7f;                 /* Hintergrund hellgrün */
  padding-top:5pt;                          /* Innenabstand oben 5 pt */
  padding-bottom:5pt;                       /* Innenabstand unten 5 pt */
  padding-left:10pt;                        /* Innenabstand links 10 pt */
  padding-right:10pt;                       /* Innenabstand rechts 10 pt */
  text-align:left;                          /* Textausrichtung linksbündig */
  font-family:Arial,Helvetica,sans-serif;   /* Serifenlose Schrift */
  font-size:14pt;                           /* Schrifthöhe 14 pt */
  color:black;                              /* Schriftfarbe schwarz */
  }

table.Satz {                                /* Tabelle für Lehrsätze u. Ä. */
  background-color:#ff80a0;                 /* Hintergrund hellrot */
  border-style:double;                      /* Rand doppelt */
  border-width:6pt;                         /* Randbreite 6 pt */
  border-color:black;                       /* Randfarbe schwarz */
  }

td.Satz {                                   /* Tabellenzelle für Sätze u. Ä. */
  background-color:#ff80a0;                 /* Hintergrund hellrot */
  padding-top:5pt;                          /* Innenabstand oben 5 pt */
  padding-bottom:5pt;                       /* Innenabstand unten 5 pt */
  padding-left:10pt;                        /* Innenabstand links 10 pt */
  padding-right:10pt;                       /* Innenabstand rechts 10 pt */
  text-align:left;                          /* Textausrichtung linksbündig */
  font-family:Arial,Helvetica,sans-serif;   /* Serifenlose Schrift */
  font-size:14pt;                           /* Schrifthöhe 14 pt */
  color:black;                              /* Schriftfarbe schwarz */
  }

table.Formel {                              /* Tabelle für Formeln */
  background-color:#00e0ff;                 /* Hintergrund cyan */
  border-style:solid;                       /* Rand durchgezogen */
  border-width:3pt;                         /* Randbreite 3 pt */
  border-color:black;                       /* Randfarbe schwarz */
  }

td.Formel {                                 /* Tabellenzelle für Formeln */
  background-color:#00e0ff;                 /* Hintergrund cyan */
  padding-top:5pt;                          /* Innenabstand oben 5 pt */
  padding-bottom:5pt;                       /* Innenabstand unten 5 pt */
  padding-left:10pt;                        /* Innenabstand links 10 pt */
  padding-right:10pt;                       /* Innenabstand rechts 10 pt */
  text-align:center;                        /* Textausrichtung zentriert */
  font-family:Arial,Helvetica,sans-serif;   /* Serifenlose Schrift */
  font-size:14pt;                           /* Schrifthöhe 14 pt */
  color:black;                              /* Schriftfarbe schwarz */
  border-color:black;
  }

table.Index {                               /* Tabelle für Link zum Index */
  margin-left: auto;                        /* Zentrierung */
  margin-right: auto;                       /* Zentrierung */
  background-color:black;                   /* Hintergrund schwarz */
  color: white;                             /* Text weiß */
  border: 4px double silver;                /* Rand */
  }

td.Index1 {                                 /* Tabellenzelle für Icon */
  background-color:yellow;                  /* Hintergrund gelb */
  padding:10pt;                             /* Innenabstand 10 pt */
  text-align:center;                        /* Textausrichtung zentriert */
  }

td.Index2 {                                 /* Tabellenzelle für Text */
  background-color:yellow;                  /* Hintergrund gelb */
  padding:5pt;                              /* Innenabstand 5 pt */
  text-align:center;                        /* Textausrichtung zentriert */
  font-family:Arial,Helvetica,sans-serif;   /* Serifenlose Schrift */
  font-size:12pt;                           /* Schrifthöhe 12 pt */
  font-weight:bold;                         /* Fettdruck */
  color:black;
  }

hr.Trennlinie {                             /* Trennlinie */
  margin: 20px auto 20px auto;              /* Außenrand */
  width: 40%;                               /* Breite */
  border-bottom: solid thin blue;           /* Linie durchgezogen, dünn, blau */
  }
  
hr.Bruchstrich {                            /* Bruchstrich */
  height:2px;
  border-width:0px;
  color:gray;
  background-color:black;
  }
 
em.Begriff {                                /* Hervorhebung (Begriff) */
  font-style:normal;                        /* Schrift normal */
  color:blue;                               /* Schriftfarbe blau */
  }
  
span.nobr {
  white-space:nowrap;                       /* Kein automatischer Zeilenumbruch */
  }